/*links on styles are always in <head>*/
:root {
    background: #64c2ed;
}

body {
    background: lightgoldenrodyellow;
    color: midnightblue;
    font-family: Arial;
}

h1 {
    background: blanchedalmond;
    color: red;
    border: 20px solid blue;
    padding: 50px;
    margin: 30px;
    text-align: center;
}

h2 {
    background: #87dffa;
    color: darkblue;
}

div {
    background: yellow;
}
